{% extends 'dashboard/main.html' %}
{% block content %}

<hr>
<div class="container">
    <div class="row">
        {% include 'data_karyawan/sidebar.html' %}
        <div class="col">
            <h1>Detail</h1>

            <br>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Nama</th>
                        <td>{{data.nama}}</td>
                    </tr>
                    <tr>
                        <th scope="row">NIK</th>
                        <td>{{data.nik}}</td>
                    </tr>
                    <tr>
                        <th scope="row">No ID Fingerprint</th>
                        <td>{{data.no_id_fingerprint}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Area</th>
                        <td>{{data.area}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Level Manajemen</th>
                        <td>{{data.level_manajemen}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nama Posisi</th>
                        <td>{{data.nama_posisi}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Kode Posisi</th>
                        <td>{{data.kode_posisi}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status Jabatan</th>
                        <td>{{data.status_jabatan}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Jabatan Baru</th>
                        <td>{{data.jabatan_baru}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status Pegawai</th>
                        <td>{{data.status_pegawai}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tanggal Masuk</th>
                        <td>{{data.tanggal_masuk|date:"d M Y"}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Lama Bekerja</th>
                        <td>{{data.lama_bekerja}}</td>
                    </tr>
                    <tr>
                        <th scope="row">No KTP</th>
                        <td>{{data.no_ktp}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tempat Lahir</th>
                        <td>{{data.tempat_lahir}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tanggal Lahir</th>
                        <td>{{data.tanggal_lahir | date:"d M Y" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Umur</th>
                        <td>{{data.umur}} Tahun</td>
                    </tr>
                    <tr>
                        <th scope="row">Jenis Kelamin</th>
                        <td>{{data.jenis_kelamin}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Agama</th>
                        <td>{{data.agama}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Pendidikan</th>
                        <td>{{data.pendidikan}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Jurusan</th>
                        <td>{{data.jurusan}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Alamat</th>
                        <td>{{data.alamat}}</td>
                    </tr>
                    <tr>
                        <th scope="row">No HP</th>
                        <td>{{data.no_hp}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Marital Status</th>
                        <td>{{data.marital_status}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Anak</th>
                        <td>{{data.anak}}</td>
                    </tr>
                    <tr>
                        <th scope="row">No Rekening</th>
                        <td>{{data.no_rekening}}</td>
                    </tr>
                    <tr>
                        <th scope="row">BPJS Ketenagakerjaan</th>
                        <td>{{data.bpjs_ketenagakerjaan}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{data.status}}</td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <br>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Nama Darurat</th>
                        <td>{{data.nama_darurat}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Alamat Darurat</th>
                        <td>{{data.alamat_darurat}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Hubungan Darurat</th>
                        <td>{{data.hubungan_darurat}}</td>
                    </tr>
                    <tr>
                        <th scope="row">No HP Darurat</th>
                        <td>{{data.no_hp_darurat}}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{% url 'halaman_edit' data.id %}" class="btn btn-warning btn-lg" role="button"
                aria-pressed="true">Ubah</a>

            <br>
            <br>
        </div>
    </div>
</div>


{% endblock %}