{% extends 'dashboard/main.html' %}
{% block content %}

<hr>
<div class="container">
    <div class="row">
        {% include 'data_karyawan/sidebar.html' %}
        <div class="col">
            <h1>Data Karyawan Keluar</h1>

            <!-- nik, nama, jabatan, area -->
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Jabatan</th>
                        <th scope="col">Area</th>
                    </tr>
                </thead>
                <tbody>
                    {% for isi in data %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{isi.nik}}</td>
                        <td><a href="{% url 'detail' isi.id  %}">{{isi.nama}}</a></td>
                        <td>{{isi.nama_posisi}}</td>
                        <td>{{isi.area}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}