{% extends 'dashboard/main.html' %}
{% block content %}

<hr>
<div class="container">
    <div class="row">
        {% include 'dashboard/sidebar.html' %}
        <div class="col">
            <h1>Detail</h1>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Katerangan</th>
                        <th scope="col">Isi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">judul</th>
                        <td>{{judul}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Isi</th>
                        <td>{{isi|linebreaks}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Dibuat pada</th>
                        <td>{{dibuat_pada}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{status}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Deadline</th>
                        <td>{{deadline}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Selesai</th>
                        <td>{{selesai}}/{{kuantitas}}</td>
                    </tr>
                </tbody>
            </table>

            <span><button type="button" class="btn btn-warning mb-2">
                    <a href="{% url 'edit_tugas' idnya %}">edit</a>
                </button></span>

            <br>
            <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Hapus</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}